<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>제품상세</title>

        <!-- common css -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/common.css">
        <link rel="stylesheet" type="text/css" href="../css/product/product.common.css">

        <!-- media css -->
        <link rel="stylesheet" type="text/css" href="../css/media/media.common.css" />
    </head>
    <body>
        <header class="type-txt border-none">
            <div class="tit-area type-detail">
                <button type="button" class="ico ico-arrow-prev"><span>돌아가기</span></button>
                <h1 class="tit">의약외품 ㅣ 틀니관리용품</h1>
            </div>
        </header>
        <div class="container pr-detail">
            <div class="detail-area">
                <div class="img-area">
                    <img src="../images/main/product-sample01.png" class="pr-img" />
                </div> <!--//img-area -->
                <div class="pr-txt-area">
                    <div class="tit-area">
                        <h2 class="tit">잇백세이클린 (20개입)</h2>
                    </div> <!--//tit-area -->
                    <div class="price-area">
                        <span class="price-before">110,000원</span>
                        <span class="price">110,000원</span>
                    </div> <!--//price-area -->
                    <div class="tit-desc-area">
                        <dl>
                            <dt class="tit">추가혜택<button type="button" class="ico ico-question-min"><span>추가혜택 안내팝업</span></button></dt>
                            <dd class="tit-desc-li"><b class="c-blue">할인단가</b></dd>
                            <dd class="tit-desc-li">
                                <span class="tit-desc-txt tit">5Bundle 이상 구매시</span>
                                <span class="tit-desc-txt"><b>2,200</b>원 할인</span>
                            </dd>
                            <dd class="tit-desc-li">
                                <span class="tit-desc-txt tit">10Bundle 이상 구매시</span>
                                <span class="tit-desc-txt"><b>4,400</b>원 할인</span>
                            </dd>
                            <dd class="tit-desc-li">
                                <span class="tit-desc-txt tit">20Bundle 이상 구매시</span>
                                <span class="tit-desc-txt"><b>5,500</b>원 할인</span>
                            </dd>
                        </dl>
                    </div> <!--//tit-desc-area -->
                    <div class="tit-desc-area line1">
                        <span class="tit">주문단위</span>
                        <span class="tit-desc-txt">1Bundle 10개</span>
                    </div>
                    <div class="tit-desc-area">
                        <dl>
                            <dt class="tit">구매 시 유의사항</dt>
                            <dd class="tit-desc-li">최소 주문금액은 50.000원 이상입니다.</dd>
                            <dd class="tit-desc-li">최소 주문수량은 1BOX입니다.</dd>
                            <dd class="tit-desc-li">“적용” 버튼을 클릭해야, 해당수량으로 주문 됩니다.</dd>
                        </dl>
                    </div>
                </div> <!--//pr-txt-area -->
                <div class="desc-area">
                    <div class="tit-area">
                        <span class="tit">상세 정보</span>
                    </div>
                    <div class="tit-desc-area">
                        <dl>
                            <dt class="tit">국소면역요법 치질치료제</dt>
                            <dd class="tit-desc-li type-mg0">- 항문의 국소면역을 높여주어 치질 증상의 완화에 도움을 준다.</dd>
                        </dl>
                        <dl>
                            <dt class="tit c-green">효능ㆍ효과</dt>
                            <dd class="tit-desc-li">다음 증상의 완화 : 치질</dd>
                        </dl>
                        <dl>
                            <dt class="tit c-green">용법ㆍ용량</dt>
                            <dd class="tit-desc-li">1일 2회, 가능한 한 배변 후 환부(질환부위)에 바릅니다.</dd>
                            <dd class="tit-desc-li">연고의 사용방법
                                <ol>
                                    <li class="tit-desc-txt">1.연고의 뚜껑을 엽니다.</li>
                                    <li class="tit-desc-txt">2. 첨부된 주입기를 연고의 입구에 연결시킨 후 주입기의 뚜껑을 엽니다.</li>
                                    <li class="tit-desc-txt">3. 항문 내에 적용할 경우, 연고 소량을 짜서 주입기의 삽입부위에 소량 묻혀 매끄럽게 한 후 항문 내에 삽입하여 적당량을 짜 넣습니다.<br />※튜브의 끝부분을 말아서 사용하시면,  내용물이 입구에 몰려 적용이 쉬우며 투브의 찢어짐을 방지하여 깔끔하게 사용하실 수 있습니다.</li>
                                </ol>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="tit c-green">유효성분의 함량</dt>
                            <dd class="tit-desc-li">1g 중
                                표준화된 박테리아 배양액(Bacteria Culture Solution (Standardized))
                                166.7mg(대장균 사균체로서 3.3X108개)</dd>
                        </dl>
                    </div>
                </div> <!--//desc-area -->
                <div class="btn-area full fixed">
                    <button type="button" class="btn square pink">바로구매</button>
                </div>
            </div> <!--//detail-area -->
        </div> <!--//container -->

        <!-- script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="../js/common.js"></script>
        <!-- //script -->
    
</body></html>