<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>검색결과</title>

        <!-- common css -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/common.css">

        <!-- media css -->
        <link rel="stylesheet" type="text/css" href="../css/media/media.common.css" />
    </head>
    <body>
        <div class="price-area">
            <button type="button" data-bs-toggle="modal" data-bs-target="#cartModal"><span>장바구니 담기</span></button>
        </div>

        <div class="modal fade" id="cartModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content pop-comn">
                    <div class="modal-body">
                        <span class="ico ico-question"></span>
                        <p class="desc-area">장바구니에 추가되었습니다.<br />장바구니로 이동하시겠습니까?</p>
                    </div>
                    <div class="btn-area">
                        <button type="button" class="btn blue">확인</button>
                        <button type="button" class="btn light-gray" data-bs-dismiss="modal" aria-label="Close">취소</button>
                    </div>
                </div> <!--//pop-comn -->
            </div> <!--//modal-dialog -->
        </div> <!--//cart modal -->

        <!-- script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>