<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Q &amp; A</title>

        <!-- common css -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/common.css">
        <link rel="stylesheet" type="text/css" href="../css/community/community.common.css">

        <!-- media css -->
        <link rel="stylesheet" type="text/css" href="../css/media/media.common.css" />
    </head>
    <body>
        <header class="type-txt">
            <div class="tit-area">
                <button type="button" class="ico ico-arrow-prev"><span>돌아가기</span></button>
                <h1 class="tit">고객센터</h1>
            </div>
        </header>

        <div class="container community-area">
            <div class="gnb-commu">
                <ul>
                    <li><button type="button" class="ico ico-notice"><span class="gnb-txt">공지사항</span></button></li>
                    <li class="active"><button type="button" class="ico ico-qna"><span class="gnb-txt">Q&amp;A</span></button></li>
                </ul>
            </div> <!--//gnb -->

            <div class="desc-area">
                <ul>
                    <li class="desc-txt">상품/배송/반품/교환 등 궁금하신 사항이 있으신 경우 문의주시면 신속한 답변 드립니다.</li>
                    <li class="desc-txt">문의사항이 있으신 경우 하단의 [문의하기] 버튼을 클릭하여 글을 작성해주세요.</li>
            </div> <!--//desc-area -->

            <div class="tbl-srch-comn">
                <div class="srch-area">
                    <select class="ipt-comn">
                        <option>전체</option>
                    </select>
                    <input type="text" class="ipt-comn ipt-srch">
                    <button type="button" class="ico ico-srch"><span>검색</span></button>
                </div>
                <div class="btn-area full">
                    <button type="button" class="btn square pink">문의하기</button>
                </div>
            </div>

            <div class="tbl-comn">
                <table>
                    <colgroup>
                        <col style="width:50%;" />
                        <col style="width:auto;" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" class="head-tit">제목/작성일</th>
                            <th scope="col" class="head-status">답변여부</th>
                            <th scope="col" class="head-num">번호</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="subject">
                                <span class="tit">상품 문의사항 관련 문의</span>
                                <span class="date">21.02.02</span>
                            </td>
                            <td><span class="status reply-ing"></span></td>
                            <td><span class="num">20210128001</span></td>
                        </tr>
                        <tr>
                            <td class="subject">
                                <span class="tit">배송관련 문의사항입니다 배송 관련관련관련 배송관련 문의사항입니다 배송 관련관련관련</span>
                                <span class="date">21.02.02</span>
                            </td>
                            <td><span class="status reply-ing"></span></td>
                            <td><span class="num">20210128001</span></td>
                        </tr>
                        <tr>
                            <td class="subject">
                                <span class="tit">상품 문의사항 관련 문의</span>
                                <span class="date">21.02.02</span>
                            </td>
                            <td><span class="status reply-ing"></span></td>
                            <td><span class="num">20210128001</span></td>
                        </tr>
                        <tr>
                            <td class="subject">
                                <span class="tit">상품 문의사항 관련 문의</span>
                                <span class="date">21.02.02</span>
                            </td>
                            <td><span class="status reply-complete"></span></td>
                            <td><span class="num">20210128001</span></td>
                        </tr>
                        <tr>
                            <td class="subject">
                                <span class="tit">상품 문의사항 관련 문의</span>
                                <span class="date">21.02.02</span>
                            </td>
                            <td><span class="status reply-complete"></span></td>
                            <td><span class="num">20210128001</span></td>
                        </tr>
                        <tr>
                            <td class="subject">
                                <span class="tit">상품 문의사항 관련 문의</span>
                                <span class="date">21.02.02</span>
                            </td>
                            <td><span class="status reply-complete"></span></td>
                            <td><span class="num">20210128001</span></td>
                        </tr>
                        <tr>
                            <td class="subject">
                                <span class="tit">상품 문의사항 관련 문의</span>
                                <span class="date">21.02.02</span>
                            </td>
                            <td><span class="status reply-complete"></span></td>
                            <td><span class="num">20210128001</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer>
            <div class="cscenter-area">
                <div class="num-area">
                    <span class="num">080-023-1897</span>
                    <span class="num-desc">평일 - 09:00~18:00  토,일 , 공휴일 - 휴뮤</span>
                </div>
            </div> <!--//cscenter-area -->
            <div class="use-guide-area">
                <dl>
                    <dd><button class="btn txt small">개인정보 취급방침</button></dd>
                    <dd><button class="btn txt small">이용약관</button></dd>
                </dl>
            </div> <!--//use-guide-area -->
            <div class="company-area">
                <div class="company-info-area">
                    <dl>
                        <dt>동화약품(주)</dt>
                        <dd>주소 : 04522 서울특별시 중구 남대문로9길 24 패스트파이브 타워 6~8층</dd>
                        <dd>전화번호 : 080-023-1897</dd>
                        <dd>통신판매번호 : 2004-서울중구-02098</dd>
                        <dd>건강기능식품번호 : 제2009-0433240호</dd>
                        <dd>사업자 등록번호 : [211-87-04515]</dd>
                        <dd><button class="btn white small">사업자정보확인</button></dd>
                    </dl>
                </div> <!--//company-info-area -->
                <div class="copyright">COPYRIGHT(C) DONG WHA PHARM. CO., LTD. ALL RIGHTS RESERVED.</div> <!--//copyright -->
            </div> <!--//company-area -->
        </footer>

        <!-- script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="../js/common.js"></script>
    
    </body>
</html>