<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>주소찾기 팝업</title>

        <!-- common css -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/common.css">

        <!-- join,login css -->
        <link rel="stylesheet" type="text/css" href="../css/join/join.common.css" />

        <!-- media css -->
        <link rel="stylesheet" type="text/css" href="../css/media/media.common.css" />
    </head>
    <body>
        <button type="button" data-bs-toggle="modal" data-bs-target="#findAddress"><span>주소찾기</span></button>

        <div class="modal fade" id="findAddress" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered pop-comn pop-find-address">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="tit-area">
                            <h1 class="tit">주소찾기</h1>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> <!--//modal-header -->
                    <div class="modal-body">
                        <div class="ipt-area">
                            <input type="text" class="ipt-comn ipt-full" placeholder="우편번호 또는 동/읍/면 명칭을 입력하세요." />
                        </div> <!--//ipt-area -->
                        <div class="page-desc-area bg-gray">
                            <p>아래와 같은 조합으로 검색하세요</p>
                            <ol>
                                <li><b>1.</b> -도로명 + 건물번호     <b>:   한강대로 416</b></li>
                                <li><b>2. -지역명(동/리)</b> + 번지 <b>:   남대문로5가 541</b></li>
                                <li><b>3.</b> -건물명, 아파트명      <b>:   반포자이아파트</b></li>
                            </ol>
                        </div> <!--//page-desc-area -->
                    </div> <!--//modal-body -->
                    <div class="modal-footer">
                        <div class="btn-area">
                            <button type="button" class="btn pink small" data-bs-dismiss="modal" aria-label="Close">닫기</button>
                        </div>
                    </div>
                </div> <!--//modal-content -->
            </div>
        </div>

        <!-- script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="../js/common.js"></script>
        <!-- //script -->
    
    </body>
</html>