<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>개인정보취급방침  - 개인정보의 처리 및 이용 목적</title>

        <!-- common css -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/common.css">

        <!-- join,login css -->
        <link rel="stylesheet" type="text/css" href="../css/join/join.common.css" />

        <!-- media css -->
        <link rel="stylesheet" type="text/css" href="../css/media/media.common.css" />
    </head>
    <body>
        <header>
            <div class="tit-area pink">
                <button type="button" class="ico ico-arrow-prev"><span>돌아가기</span></button>
                <h1 class="tit">개인정보의 처리 및 이용 목적</h1>
            </div>
        </header>
        <div class="container">
            <div class="join-agree-area">
                <p class="desc">회사는 개인정보를 동의 받은 개인정보 보유기간 내에서 처리 및 이용합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.</p>
                <ol>
                    <li>
                        <dl>
                            <dt class="tit">(1) 홈페이지 회원가입 및 관리</dt>
                            <dd class="desc">가. 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 만14세 미만 아동 개인정보 수집 시 법정대리인 동의 여부 확인, 각종 고지·통지, 고충처리, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt class="tit">(2) 민원사무 처리</dt>
                            <dd class="desc">나. 민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등을 목적으로 개인정보를 처리합니다.</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt class="tit">(3) 재화 또는 서비스 제공</dt>
                            <dd class="desc">다. 물품배송, 서비스 제공, 청구서 발송, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증, 연령인증, 요금결제·정산 등을 목적으로 개인정보를 처리합니다.</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt class="tit">(4) 마케팅 및 광고에의 활용</dt>
                            <dd class="desc">라. 신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재 , 서비스의 유효성 확인, 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다..</dd>
                        </dl>
                    </li>
                </ol>
            </div>
        </div> <!--//container -->

        <!-- script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <!-- //script -->
    
</body></html>