@charset "UTF-8";

/* common */
*{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:13px;
    color:#1b1b1b;
}

body{
    background-color:#eee;
    padding-bottom:115px;
    overflow-x:hidden;
}

dl,ol,ul{
    padding:0;
    margin-bottom:0;
}

li,dd{
    list-style:none;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom:0;
}

a{
    text-decoration: none;
}

header, .container, footer{
    background-color:#fff;
    padding:0;
    margin:0 auto;
    max-width:768px;
    box-sizing: border-box;
}

header{
    margin-bottom:10px;
}
    .header-area{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:20px 20px 12px 20px;    
    }
        .ui-area{
            display:flex;
            align-items: center;
        }
            .ui-area .srch-area{
                margin-left:22px;
            }
            .ui-area .srch-area .ico.ico-srch{
                margin-right:6px;
            }

        .srch-area{
            position:relative;
            margin-right:14px;
        }
            .srch-area .ipt-comn.ipt-srch{
                min-width:80px;
                max-width:140px;
            }
            .srch-area .ico.ico-srch{
                position:absolute;
                top:6px;
                right:0;
            }
        
        .ui-area .ico{
            background-color:#fff;
        }
    /* //header-area */

header.type-txt .tit-area{
    display:flex;
    flex-flow:row;
    align-items:center;
    padding:10px 20px;
    margin-bottom:10px;
}
header.type-txt .tit-area .tit{
    font-size:17px;
    color:#242424;
    text-align:center;
    width:calc(100% - 30px);
}
header.type-txt .tit-area.type-detail .tit{
    font-size:15px;
}
header.type-txt .tit-area.pink .tit{
    color:#ff5550;
}
header.type-txt.border-none,
header.type-txt.border-none .tit-area{
    margin-bottom:0;
}

    .logo-area{
    }
        .logo{
            width:122px;
            height:30px;
            background:url(../images/common/logo.png) no-repeat center;
            font-size:0;
            background-size:contain;
        }
    /* //logo-area */

    .menu-area ul{
        display:flex;
        flex-flow:wrap;
        justify-content: space-around;
        background-color:#ff5550;
    }
        .menu-area ul li{
            text-align:center;
            padding:4px 0;
        }
        .menu-area ul li .btn.txt{
            color:#fff;
            font-size:13px;
        }

    .gnb{
        position:fixed;
        bottom:0;
        width:100%;
        max-width:768px;
        box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
        background:#fff;
        border-top:1px solid #e5e5e5;
        height:60px;
        display:flex;
        align-items: center;
        z-index:1;
    }
    .gnb ul{
        width:100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .gnb ul li{
        border:0;
        background:none;
        display:flex;
        flex-flow:column;
        justify-content: center;
        text-align:center;
    }
    .gnb ul li .btn{
        color:#000;
        font-size:10px;
        padding:0;
    }
    .gnb ul li .btn .ico{
        display:block;
        margin:0 auto 10px;
        width:24px;
        height:24px;
    }
    .gnb ul li .ico.ico-srch{
        background:#ef5864 url(../images/common/ico-srch-white.png) center no-repeat;
        border-radius:50%;
    }
    .gnb ul li .ico.ico-cart{
        background-image:url(../images/common/ico-bag.png);
    }
    .gnb ul li .bag-area .cart-ea{
        top:0;
        right:0;
    }

    .gnb .srch-on-area .srch-area{
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-bottom:2px solid #ff5550;
        padding:4px 3px 4px 0;
        margin-right:0;
    }
    .gnb .srch-on-area .srch-area label{
        width:calc(100% - 24px);
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .gnb .srch-on-area .srch-area .ipt-comn.ipt-srch{
        padding-left:0;
        width:calc(100% - 24px);
        min-width:unset;
        max-width:unset;border:0;
    }
    .gnb .srch-on-area .srch-area .ipt-comn.ipt-srch::placeholder{
        color:#dcdcdc;
    }
    .gnb .srch-on-area .srch-area .ico.ico-srch{
        position:unset;
        top:unset;
        right:unset;
        background:url(../images/common/ico-srch.png) no-repeat transparent center;
        width:24px;
        height:24px;
    }

    .lnb{
    }
        .lnb .modal-header,
        .lnb .modal-body{
            flex-flow:column;
            margin:0 20px;
            padding:0;
        }

        .lnb .modal-header{
            padding:5px 0 16px 0;
        }

        .lnb-header-area,
        .lnb-menu-area{
            width:100%;
        }
        .lnb-header-area{
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .lnb-header-area .btn-area .logout{
            width:190px;
        }
        .lnb-header-area .btn-close{
            color:#1b1b1b;
            opacity: 1;
            padding:0;
            width:16px;
            height:16px;
        }
        .lnb-menu-area ul{
            display:flex;
            justify-content: space-around;
            align-items: center;
            margin-top:20px;
        }
        .lnb-menu-area ul li{
            width:25%;
            text-align:center;
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .lnb-menu-area .btn{
            color:#000;
            font-size:10px;
            display:flex;
            flex-flow:column;
            align-items: center;
            justify-content: center;
            padding:0;
        }
        .lnb-menu-area .btn:hover,
        .lnb-menu-area .btn:active,
        .lnb-menu-area .btn:focus{
            color:#000;
        }
        .lnb-menu-area .bag-area .cart-ea{
            top:0;
            right:0;
        }
        .lnb-menu-area .btn .ico{
            width:24px;
            height:24px;
            margin-bottom:2px;
        }
        .lnb-list-area{
        }
            .lnb-list-loop .tit-area{
                padding:12px 9px 12px 6px;
                border-bottom:1px solid #e5e5e5;
                display:flex;
                justify-content: space-between;
                align-items: center;
            }
            .lnb-list-loop .tit-area .tit{
                font-size:17px;
                color:#242424;
                padding:0;
                margin:0;
                border:0;
                background:transparent;
            }
            .lnb-list-loop .tit-area .tit .ico{
                margin-right:8px;
            }
            .lnb-list-loop .tit-area .accordion-button::after{
                background-image:url(../images/common/ico-arrow.png);
                background-size:auto;
                transform:rotate(90deg);
                background-position:5px;
            }
            .lnb-list-loop .tit-area .accordion-button:not(.collapsed)::after{
                transform:rotate(-90deg);
            }
            .lnb-list-loop .tit-sub-area dt{
                padding:8px 16px;
                color:#434343;
                background-color:rgb(245,245,245);
                border:1px solid rgb(229,229,229);
                border-width:1px 0;
                margin-top:-1px;
                font-weight:normal;
            }
            .lnb-list-loop .tit-sub-area dd{
                padding:8px 26px;
                color:#434343;
                border-bottom:1px solid rgb(229,229,229);
                margin-bottom:0;
            }
    /* //gnb */

.container{
    padding:0 20px;
}

/* icon */
.ico{
    background-repeat:no-repeat;
    background-position:center;
    background-size:auto;
    border:0;
}
    .ico span{
        font-size:0;
    }

    .ico.ico-more{
        padding:0;
        background-image:url(../images/common/ico-arrow-more.png);
    }

    .ico.ico-arrow{
        background-image:url(../images/common/ico-arrow.png);
        width:9px;
        height:14px;
        background-color:#fff;
    }

    .ico.ico-arrow-prev{
        background-image:url(../images/common/ico-arrow-prev.png);
        margin:0;
        width:15px;
        height:14px;
        background-color:#fff;
    }
    
    .ico.ico-notice{
        background-image:url(../images/common/ico-notice.png);
    }

    .ico.ico-qna{
        background-image:url(../images/common/ico-qna.png);
    }

    .ico.ico-srch{
        width:17px;
        height:17px;
        background-image:url(../images/common/ico-srch.png);
    }

    .ico.ico-bag{
        width:19px;
        height:18px;
        background-image:url(../images/common/ico-bag.png);
    }

    .ico.ico-question{
        background-image:url(../images/common/ico-pop-question.png);
    }

    .ico.ico-question-min{
        background-image:url(../images/common/ico-question-min.png);
        background-color:transparent;
        width:14px;
        height:14px;
        margin-left:5px;
    }

    .ico.ico-cart{
        background-image:url(../images/common/ico-cart.png);
    }

    .ico.ico-myinfo{
        background-image:url(../images/common/ico-gnb-myinfo.png);
    }

    .ico.ico-home{
        background-image:url(../images/common/ico-gnb-home.png);
    }

    .ico.ico-menu{
        background-image:url(../images/common/ico-gnb-menu.png);
    }

    .ico.ico-my-info{
        background-image:url(../images/common/ico-gnb-srch.png);
    }

    .ico.ico-cscenter{
        background-image:url(../images/common/ico-cscenter.png);
    }

    .ico.ico-etrade{
        background-image:url(../images/common/ico-etrade.png);
    }

    .ico.ico-lnb-cate{
        background-image:url(../images/common/ico-gnb-menu.png);
        width:17px;
        height:13px;
    }
    .ico.ico-lnb-best{
        background-image:url(../images/common/ico-lnb-best.png);
        width:17px;
        height:22px;
    }
    .ico.ico-lnb-recommend{
        background-image:url(../images/common/ico-lnb-recommend.png);
        width:19px;
        height:18px;
    }
    .ico.ico-lnb-recent{
        background-image:url(../images/common/ico-lnb-recent.png);
        width:18px;
        height:18px;
    }
    .ico.ico-lnb-orderlist{
        background-image:url(../images/common/ico-lnb-orderlist.png);
        width:16px;
        height:20px;
    }
    .ico.ico-easy-payment{
        background-image:url(../images/common/ico-easy-payment.png);
    }
    .ico.ico-member-out{
        background-image:url(../images/common/ico-member-out.png);
    }
    .ico.ico-pw-change{
        background-image:url(../images/common/ico-pw-change.png);
    }
    .ico.ico-order-list{
        background-image:url(../images/common/ico-order-list.png);
    }
    .ico.ico-myinfo2{
        background-image:url(../images/common/ico-myinfo.png);
    }
    

/* button */
.btn{
    text-align:center;
    font-size:15px;
    color:#fff;
    padding:8px 0;
    border-radius:5px;
}

    .btn:hover,
    .btn:active,
    .btn:focus{
        color:#fff;
        box-shadow: none;
    }

    /* button color */
    .btn.pink{
        background-color:#ff5550;
    }
    .btn.white-pink{
        border:1px solid #ff5550;
        color:#ff5550;
        background-color:#fff;
    }
    .btn.white{
        border:1px solid #707070;
        color:#707070;
        border-radius:0;
    }
    .btn.white-gray{
        border:1px solid #e5e5e5;
        background-color:#fff;
        color:#1b1b1b;
        border-radius:0;
    }
    .btn.white-darkgray{
        border:1px solid #a0a0a0;
        background-color:#fff;
        color:#1b1b1b;
        border-radius:0;
    }
    .btn.blue{
        background-color:#2196f3;
    }
    .btn.light-gray{
        background-color:#efefef;
        color:#1b1b1b;
    }
    .btn.gray{
        background-color:#888;
    }
    .btn.mid-gray{
        background-color:#686868;
    }
    .btn.dark-gray{
        background-color:#434343;
    }
    .btn.black{
        background-color:#313131;
    }
    .btn.txt{
        color:#000;
        padding:0;
    }

    /* button size */
    .btn.tiny{
        font-size:10px;
        padding:6px 6px;
    }
    .btn.tiny.tiny-thin{
        padding:2px 6px;
        min-width:60px;
    }
    .btn.tiny.tiny-mid{
        padding:10px 28px;
    }
    .btn.small{
        font-size:13px;
        padding:4px 28px;
    }
    .btn.mid{
        padding:13px 0;
    }
    .btn.large{
    }

    /* button outline */
    .btn.square{
        border-radius:0;
    }
    .btn.circle{
        border-radius:50%;
        padding:0;
    }
/* //button */

/* input */
.ipt-comn{
    font-size:12px;
    padding:10px 15px;
    border:1px solid #e5e5e5;
}
    .ipt-comn::placeholder{
        color:#959595;
    }
    input:read-only{
        background:#e6e6e6 !important;
        color:#a0a0a0;
    }
    select.ipt-comn.ipt-num,
    input[type=number].ipt-comn{
        width:calc(33.33% - 10px);
    }
    input[type=number].ipt-comn{
        text-align:center;
    }
    .ipt-comn.ipt-full{
        width:100%;
    }
    .ipt-comn.ipt-srch{
        width:100%;
        height:30px;
        border-radius:12px;
    }
    .ipt-comn.ipt-cal{
        font-size:10px;
        padding-left:10px;
        height:24px;
        width:calc(50% - 10px);
        background:url(../images/common/ico-calender.png) no-repeat right center;
    }
.ipt-chk{
}
    .ipt-chk-txt{
        color:#000;
        font-size:13px;
        margin-left:7px;
    }
/* //input */

/* font color */
.c-blue{
    color:#229de8;
}
.c-green{
    color:#2cb872;
}
.c-pink{
    color:#ff5550;
}
/* //font color */

.ui-datepicker{
    background:#fff;
    border:1px solid #a0a0a0;
}
/* //datepicker */

.ipt-area{
}
    .ipt-area .ipt-loop{
        display:flex;
        flex-flow:column;
        background-color:#fff;
        padding:10px 0;
    }
    .ipt-area .ipt-loop .ipt-tit{
        font-size:15px;
        margin-bottom:10px;
    }
    .ipt-area .ipt-loop .ipt-tit.must{
        display: flex;
    }
    .ipt-area .ipt-loop .ipt-tit.must::before{
        content:'*';
        display:inline-block;
        font-size:25px;
        color:#ff5550;
        font-weight:600;
        margin-top:-3px;
        margin-right:5px;
        height:15px;
    }
    .ipt-area .ipt-loop .ipt-desc{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .ipt-area .ipt-loop .ipt-column{
        flex-flow:column;
    }
    .ipt-area .ipt-loop .ipt-depth2{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
    }
    .ipt-area .ipt-loop .ipt-depth2 .depth{
        width:calc(50% - 1%);
    }
    .ipt-area .ipt-loop .ipt-comn{
        margin-bottom:5px;
        width:100%;
    }

    .ipt-area .ipt-loop select.ipt-comn.ipt-num,
    .ipt-area .ipt-loop input[type=number].ipt-comn{
        width:calc(33.33% - 10px);
        background-color:#fff;
    }

.ipt-area.type-border .ipt-loop{
    border-top:1px solid #e5e5e5;
}
.ipt-area.type-border .btn-area{
    margin-bottom:15px;
}
/* //ipt-area */
.tbl-srch-comn{
    display:flex;
    border:10px solid #eee;
    border-width:10px 0;
    padding:10px 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-flow:column;
}
    .tbl-srch-comn .srch-area{
        display:flex;
        align-items: center;
        margin-right:0;
        width:100%;
    }
    .tbl-srch-comn .srch-area .ico.ico-srch{
        position:unset;
        top:unset;
        right:unset;
        background-image:url(../images/common/ico-srch-gray.png);
    }
    .tbl-srch-comn .srch-area .ipt-comn.ipt-srch{
        max-width:unset;
    }
    .tbl-srch-comn .ipt-comn{
        height:30px;
        border:1px solid #5a5a5e;
        padding:0 10px;
    }
    .tbl-srch-comn select.ipt-comn{
        width:75px;
        background:#fff;
        color:#1b1b1b;
    }
    .tbl-srch-comn .ipt-comn.ipt-srch{
        width:calc(100% - 105px);
        border-radius:0;
        border-width:1px 0;
    }
    .tbl-srch-comn .ico.ico-srch{
        background-color:#fff;
        width:30px;
        height:30px;
        border:1px solid #5a5a5e;
        border-left:0;
        mix-blend-mode: luminosity;
    }
    .tbl-srch-comn .btn-area{
        margin-top:10px;
        width:100%;
    }

.tbl-comn{
    margin-bottom:25px;
}
    .tbl-comn table{
        width:100%;
    }
    .tbl-comn th,
    .tbl-comn td{
        border:1px solid rgb(229,229,229);
        font-size:10px;
        padding:10px;
    }
    .tbl-comn tbody th{
        background-color:rgb(245,245,245);
        font-weight:normal;
        text-align:center;
    }
    .tbl-comn tbody th:first-child{
        border-left:0;
    }
    .tbl-comn tbody td:last-child{
        border-right:0;
    }
    .tbl-comn tbody td li{
        font-size:10px;
    }
/* //tbl-comn : 테이블 리스트 공통 */

.tbl-write-comn{
    border-top:1px solid #5a5a5e;
}
    .tbl-write-comn table{
        width:100%;
    }
    .tbl-write-comn th,
    .tbl-write-comn td{
        border:1px solid #e5e5e5;
        padding:10px 0;
        min-height:48px;
        color:#1b1b1b;
    }
    .tbl-write-comn tbody th{
        text-align:center;
        width:65px;
        background-color:rgb(245,245,245);
        font-weight:normal;
        border-left:0;
    }
    .tbl-write-comn tbody td{
        padding-left:10px;
        border-right:0;
    }
    .tbl-write-comn .ipt-comn.subject,
    .tbl-write-comn textarea{
        width:calc(100% - 10px);
        border:1px solid #a0a0a0;
        height:30px;
        border-radius:0;
    }
    .tbl-write-comn textarea{
        resize:none;
        height:100px;
    }

    .tbl-write-comn .btn-area.normal{
        margin-top:10px;
        padding-bottom:0;
    }
/* //tbl-write-comn : 글쓰기 공통 */

.tbl-view-comn{
    padding:0 10px;
    margin-bottom:10px;
}
    .tbl-view-comn table{
        width:100%;
    }
    .tbl-view-comn thead tr th{
        font-size:15px;
        padding:20px 12px;
        border-bottom:1px solid #959595;
        color:#313131;
    }
    .tbl-view-comn tbody th{
        text-align: center;
    }
    .tbl-view-comn tbody th,
    .tbl-view-comn tbody td{
        padding:20px 7px;
        color:#434343;
        border-bottom:1px solid #959595;
        font-weight:normal;
    }
    .tbl-view-comn tbody .view-desc{
        padding:20px 10px;
        white-space: pre-line;
    }

.tbl-view-comn.type-reply{   
    margin-top:-11px;
    padding-left:20px;
    margin-bottom:0;
    background-color:#fff;
}
    .tbl-view-comn.type-reply thead tr th{
        border-color:#e5e5e5;
        border-width:1px 0;
        font-weight:normal;
    }
    .tbl-view-comn.type-reply .view-desc{
        border-bottom:0;
        position:relative;
        padding-left:30px;
        display:flex;
        justify-content: space-between;
    }
    .tbl-view-comn.type-reply .view-desc .reply-desc{
        width:calc(100% - 40px);
        margin-bottom:0;
    }
    .tbl-view-comn.type-reply .reply-txt-ico{
        border-radius:3px;
        background-color:#96a8be;
        color:#fff;
        font-size:10px;
        padding:0 5px;
        height:16px;
    }
    .tbl-view-comn.type-reply .reply-txt-ico::before{
        content:'';
        border:1px solid #a0a0a0;
        border-width:0 0 1px 1px;
        width:10px;
        height:11px;
        display:block;
        position:absolute;
        margin-left:-20px;
    }
/* //tbl-view-comn : 글보기 공통 */
.tbl-view-area .btn-area.normal{
    padding:0 20px;
}
.tbl-view-area .btn-area.normal .btn{
    width:calc(25% - 5px);
    min-width:unset;
}
.tbl-view-area .btn-area.normal .btn.list{
    width:calc(51% - 5px);
}
/* //tbl-view-area */

.chk-area{
    display:flex;
    align-items:center;
    margin-bottom:10px;
}
/* //chk-area */

.btn-area{
}
    .btn-area.normal{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom:30px;
    }
    .btn-area.normal .btn{
        width:calc(50% - 5px);
        min-width:150px;
        border-radius:5px;
        margin-right:10px;
    }
    .btn-area.normal .btn:last-child{
        margin-right:0;
    }
    .btn-area.normal .btn:first-child{
        margin-left:0;
    }
    .btn-area.normal .btn.square{
        border-radius:0;
    }
    .btn-area.full .btn{
        width:100%;
    }
    .btn-area.fixed{
        position:fixed;
        width:100%;
        bottom:0;
        padding:10px;
        background:#fff;
        border-top:10px solid #eee;
    }
    .btn-area.border{
        border:1px solid #e5e5e5 !important;
        border-width:1px 0 0 0 !important;
        padding-top:10px;
    }

    .btn-area .btn-box{
        display:flex;
        flex-flow:column;
        margin-bottom:18px;
    }

    .btn-area .desc-btn-box{
        display:flex;
        align-items:center;
        justify-content:center;
        padding-bottom:37px;
    }

    .btn-area .desc-btn-box .btn.txt:before{
        content:'';
        display:inline-block;
        width:1px;
        height:10px;
        background:#b5b5b5;
        margin-left:-30px;
        margin-right:30px;
    }

    .btn-area .desc-btn-box .btn.txt:first-child:before{
        display:none;
    }
/* //btn-area */

.pr-list-img-comn{
    width:100px;
    height:86px;
    border:1px solid #e5e5e5;
    text-align:center;
    display:flex;
    align-items: center;
    padding:1%;
    margin-right:8px;
}
.pr-list-img-comn img{
    display: inline-block;
    max-width:95%;
    max-height:80px;
    margin:0 auto;
}
/* //pr-list-img-comn */

.complete-comn{
    padding:10px 20px;
    display:flex;
    flex-flow:column;
    justify-content: center;
    margin-top:-9px;
}
    .complete-comn .msg-area{
        margin-top:45px;
        margin-bottom:60px;
        display: flex;
        flex-flow:column;
        justify-content: center;
        text-align:Center;
    }
    .complete-comn .msg-area .tit{
        font-size:19px;
        font-weight:500;
        margin-bottom:10px;
    }
    .complete-comn .msg-area .tit-desc{
        font-size:15px;
        color:#5a5a5e;
    }

    .complete-comn .desc-area{
        margin-top:10px;
        border:1px solid #e5e5e5;
        padding:10px 12px;
    }
    .complete-comn .desc-area li{
        font-size:10px;
        color:#a0a0a0;
    }
    .complete-comn .btn-area{
        padding-bottom:10px;
    }

.complete-comn.pd-none{
    padding:10px 0;
}

.bag-area{
    position:relative;
}
    .bag-area .cart-ea{
        position:absolute;
        top:-4px;
        right:-8px;
        background-color:#ff5550;
        color:#fff;
        border-radius:50%;
        width:16px;
        height:16px;
        line-height:16px;
        text-align:center;
        display:inline-block;
        font-size:10px;
    }
/* //bag-area */

.product-area{
    padding:16px 0 10px;
}
    .product-area .pr-tit-area{
        padding-bottom:14px;
        border-bottom:2px solid #0d0d0d;
        margin-bottom:12px;
    }
    .product-area .pr-tit-area .tit{
        font-size:19px;
    }
    .product-area .pr-tit-area .tit b{
        color:#ff5550;
        font-size:19px;
    }

.pr-list-box{
    display:flex;
}

.pr-list-area{
    display:flex;
    justify-content: space-between;
    flex-flow:wrap;
}
    .pr-list-loop{
        width:calc(50% - 10px);
        border:1px solid #e5e5e5;
        margin:10px 0;
        background-color:#fff;
        position:relative;
    }
    .pr-list-loop .img-area{
        width:100%;
        height:128px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:5%;
        box-sizing: border-box;
    }
    .pr-list-loop .pr-rank{
        position: absolute;
        top:0;
        left:6px;
        text-align:center;
        border-bottom:1px solid #ef5864;
        width:20px;
    }
    .pr-list-loop .pr-rank .num{
        font-size:15px;
        font-weight:600;
        color:#ef5864;
        z-index:2;
    }
    .pr-list-loop .desc-area{
        padding:6px 6px 6px 7px;
    }
    .pr-list-loop .desc-area .tit-area{
        margin-bottom:5px;
        min-height:38px;
    }
    .pr-list-loop .desc-area .tit-area .tit{
        font-size:13px;
        line-height:1;
        font-weight:normal;
        word-break: keep-all;
    }
    .pr-list-loop .price-area{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .pr-list-loop .price-area .price{
        font-size:15px;
        font-weight:600;
        color:#000;
    }
    .pr-list-loop .price-area .price:after{
        content:'원';
        color:#707070;
        font-size:10px;
    }
    .pr-list-loop .price-area .ico.ico-cart{
        width:24px;
        height:24px;
        border:1px solid #e5e5e5;
        background-color:#fff;
        background-size:auto;
    }
    .pr-list-loop .pr-soldout{
        position:absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        width:100%;
        height:100%;
    }
    .pr-list-loop .pr-soldout-bg{
        position:absolute;
        top:0;
        left:0;
        background:#000;
        opacity:.5;
        z-index:3;
        width:100%;
        height:100%;        
    }
    .pr-list-loop .pr-soldout .txt-soldout{
        position:absolute;
        color:#fff;
        font-size:25px;
        font-weight:600;
        border:3px solid #fff;
        border-radius:5px;
        padding:6px 15px;
        opacity:1;
        z-index:4;
    }
    .pr-list-loop .pr-soldout .txt-soldout:after{
        display:block;
        border-top:1px solid #fff;
        content:'SOLD OUT';
        font-size:17px;
        font-weight:600;
        font-family:'Lato';
        padding:0 8px;
    }
/* //product area */

.cart-area{
    padding:0;
}
    .cart-area .page-desc-area{
        padding:20px;
        display:flex;
        justify-content: space-between;
        border-bottom:1px solid #e5e5e5;
    }
    .cart-li-area{
        display:flex;
        flex-flow:column;
    }
    .cart-li-loop{
        border-bottom:1px solid #e5e5e5;
        display:flex;
        flex-flow:column;
        justify-content: space-between;
        margin:0 20px;
    }
    .cart-li-loop .cart-pr-area,
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .pr-info-area,
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .price-area{
        display:flex;
    }
    .cart-li-loop .cart-pr-delete{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size:20px;
        font-weight:normal;
        color:#1b1b1b;
    }
    .cart-li-loop .cart-pr-area .ipt-area{
        margin-right:10px;
    }
    .cart-li-loop .cart-pr-area .ipt-area input[type=num].ipt-comn{
        width:calc(100% - 58px);
    }
    .cart-li-loop .cart-pr-area .pr-top-desc-area{
        display:flex;
        flex-flow: column;
        padding:0 20px;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area{
        display:flex;
        flex-flow:column;
        width:100%;
        box-sizing:border-box;
        padding-right:20px;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li{
        margin-bottom:10px;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .price-area{
        justify-content: space-between;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .price-area .ipt-area,
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .price-area .btn-area{
        width:calc(50% - 5px);
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .price-area .btn-area .btn{
        width:100%;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .cart-desc{
        padding:0;
        text-align:center;
        margin:10px 0 5px;
        font-size:10px;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .cart-desc .txt-ico::before{
        content:'';
        border:1px solid #000;
        border-width:0 0 1px 1px;
        width:10px;
        height:10px;
        display:inline-block;
        position:absolute;
        margin-left:-30px;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .cart-desc .txt-ico{
        font-size:10px;
        text-align:center;
        width:52px;
        height:16px;
        border-radius:4px;
        display:inline-block;
        margin-right:7px;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-desc-li .cart-desc .txt-ico.c-blue{
        background-color:#229de8;
        color:#fff;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .txt-area *{
        font-size:15px;
        color:#434343;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .txt-area li{
        min-height:22px;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .txt-area .tit-info .btn{
        width:14px;
        height:14px;
        border:1px solid #5a5a5e;
        font-size:10px;
        color:#5a5a5a;
        line-height:1;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .txt-area .price-before{
        color:#a0a0a0;
        text-decoration: line-through;
    }

    .cart-li-loop .cart-pr-area .pr-desc-area .pr-ea-chk-li{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-ea-chk-li *{
        color:#434343;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-ea-chk .ea-chk-tit{
        font-size:10px;
    }
    .cart-li-loop .cart-pr-area .pr-desc-area .pr-ea-chk .ea-chk-price{
        font-size:19px;
    }

    .cart-area .cart-amount-total{
        background-color:#fff3f3;
        padding:24px 30px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .cart-area .cart-amount-total *{
        font-weight:600;
        font-size:15px;
    }
    .cart-area .cart-amount-total .tit-price{
        font-size:19px;
        font-weight:normal;
    }
    .cart-area .cart-amount-total .tit-price b{
        font-size:25px;
        margin-right:5px;
    }
    .cart-area .btn-area.normal{
        padding:15px 20px;
    }
    .cart-area .btn-area.normal .btn.tiny{
        width:90px;
        min-width:auto;
        padding-left:0;
        padding-right:0;
    }
/* //cart-area */

.tab-list-area ul{
    display:flex;
    flex-flow:wrap;
    text-align:center;
    align-items:center;
    margin-bottom:10px;
}
.tab-list-area li{
    width:calc(25% + 1px);
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #e5e5e5;
    color:#1b1b1b;
    margin-right:-1px;
    margin-bottom:-1px;
    font-size:10px;
    word-break: keep-all;
}
.tab-list-area .active{
    border:0;
    color:#fff;
}
/* //tab list area */

.main-pr-area{
    padding:16px 20px;
}
    .main-pr-area .tit-area{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:18px;
    }
    .main-pr-area .tit-area .tit{
        font-size:19px;
        color:#000;
        font-weight:600;
    }
    .main-pr-area .pr-list-area{
        width:calc(100% + 20px);
        overflow-x:auto;
        justify-content:flex-start;
    }
    .main-pr-area .pr-list-area .pr-list-box .pr-list-loop{
        width:150px;
        margin-bottom:0;
        margin-right:-1px;
    }

    .main-pr-area.best{
    }
    .main-pr-area.best .pr-list-loop .pr-rank{
        width:36px;
        height:40px;
        background:url(../images/common/bg-pr-rank.png) no-repeat center;
        border-bottom:0;
        top:4px;
        left:5px;
    }
    .main-pr-area.best .pr-list-loop .pr-rank .num{
        color:#fff;
    }
    .main-pr-area.best .pr-list-loop .pr-rank .num:after{
        content:'BEST';
        font-size:6px;
        display:block;
        margin:0 auto;
        margin-top:-4px;
        font-weight:normal;
    }

    .main-pr-area.recommend{
        background-color:#f0f3f8;
    }
/* //main-pr-area */

.price-area .ipt-area{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
    .price-area .ipt-area .btn,
    .price-area .ipt-area .ipt-comn{
        width:30px;
        height:30px;
        line-height:15px;
        padding:0;
        text-align:center;
    }
    .price-area .ipt-area input[type=num].ipt-comn{
        margin:0 -1px;
    }
/* //price-area */

footer{
    margin-top:10px;
    padding-bottom:27px;
}

    .cscenter-area{
        border-bottom:10px solid #eee;
        padding:17px 0;
        display:flex;
        justify-content:center;
    }
    /* //cscenter-area */

    .num-area{
        background:url(../images/common/ico-tel.png) no-repeat left center;
        padding-left:62px;
        margin:0 auto;
    }
        .num-area .num{
            display:block;
            font-family:'Lato';
            font-size:25px;
            font-weight:bolder;
            line-height:1.14;
            letter-spacing:1px;
            color:#0d0d0d;
            margin-bottom:0;
        }

        .num-area .num-desc{
            font-size:10px;
            color:#313131;
        }
    /* //num-area */

    .use-guide-area{
        border-bottom:1px solid #e5e5e5;
    }
        .use-guide-area dl{
            display: flex;
            justify-content: center;
        }
        .use-guide-area dl dd{
            padding:6px 0;
            width:50%;
            margin-bottom:0;
            text-align:center;
        }
        .use-guide-area .btn.txt{
            color:#707070;
        }
    /* //use-guide-area */

    .company-area{
        padding:17px 20px;
    }
    /* //company-area */

    .company-info-area{
    }
        .company-info-area dl dt{
            font-size:19px;
            color:#959595;
            font-weight:600;
            margin-bottom:10px;
        }

        .company-info-area dl dd{
            color:#707070;
            font-size:12px;
            margin-bottom:2px;
        }

        .company-info-area dl dd:last-child{
            margin-top:12px;
        }

    .copyright{
        margin-top:15px;
        color:#707070;
        font-size:12px;
    }
/* //footer */

/* margin, padding */
.pd-b15{padding-bottom:15px !important;}
.pd-b10{padding-bottom:10px !important;}
.mg-t28{margin-top:28px !important;}
.mg-t10{margin-top:10px !important;}
.mg-b0{margin-bottom:0 !important;}
/* //margin, padding */

/* //common */