@charset "UTF-8";

/* common */
*{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:13px;
}

body{
    background-color:#eee;
    padding-bottom:115px;
}

dl,ol,ul{
    padding:0;
    margin-bottom:0;
}

li,dd{
    list-style:none;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom:0;
}

a{
    text-decoration: none;
}

header, .container, footer{
    background-color:#fff;
    padding:0;
    margin:0 auto;
    max-width:768px;
    box-sizing: border-box;
}

header{
    margin-bottom:10px;
}
    .header-area{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:20px 20px 12px 20px;    
    }
        .ui-area{
            display:flex;
            align-items: center;
        }
            .ui-area .srch-area{
                margin-left:22px;
            }
            .ui-area .srch-area .ico.ico-srch{
                margin-right:6px;
            }
            .ui-area .btn-area{
                position:relative;
            }
            .ui-area .btn-area .cart-ea{
                position:absolute;
                top:-4px;
                right:-8px;
                background-color:#ff5550;
                color:#fff;
                border-radius:50%;
                width:16px;
                height:16px;
                line-height:16px;
                text-align:center;
                display:inline-block;
                font-size:10px;
            }

        .srch-area{
            position:relative;
            margin-right:14px;
        }
            .srch-area .ipt-comn.ipt-srch{
                min-width:80px;
                max-width:140px;
            }
            .srch-area .ico.ico-srch{
                position:absolute;
                top:6px;
                right:0;
            }
    /* //header-area */
    .logo-area{
    }
        .logo{
            width:122px;
            height:30px;
            background:url(../images/common/logo.png) no-repeat center;
            font-size:0;
            background-size:contain;
        }
    /* //logo-area */

    .menu-area ul{
        display:flex;
        flex-flow:wrap;
        justify-content: space-around;
        background-color:#ff5550;
    }
        .menu-area ul li{
            text-align:center;
            padding:4px 0;
        }
        .menu-area ul li .btn.txt{
            color:#fff;
            font-size:13px;
        }

    .gnb{
        position:fixed;
        bottom:0;
        width:100%;
        max-width:768px;
        box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.2);
        background:#fff;
        border-top:1px solid #e5e5e5;
        height:60px;
        display:flex;
        align-items: center;
        z-index:1;
    }
    .gnb ul{
        width:100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .gnb ul li{
        border:0;
        background:none;
        display:flex;
        flex-flow:column;
        justify-content: center;
        text-align:center;
    }
    .gnb ul li .btn{
        color:#000;
        font-size:10px;
        padding:0;
    }
    .gnb ul li .btn .ico{
        display:block;
        margin:0 auto 10px;
        width:24px;
        height:24px;
    }
    .gnb .srch-on-area{
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        border-radius:20px 20px 0 0;
        height:250px;
        padding:25px 20px;
        box-sizing:border-box;
        background-color:#fff;
    }
    .gnb .srch-on-area .srch-area{
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-bottom:2px solid #ff5550;
        padding:4px 3px 4px 0;
        margin-right:0;
    }
    .gnb .srch-on-area .srch-area label{
        width:calc(100% - 24px);
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .gnb .srch-on-area .srch-area .ipt-comn.ipt-srch{
        padding-left:0;
        width:calc(100% - 24px);
        min-width:unset;
        max-width:unset;border:0;
    }
    .gnb .srch-on-area .srch-area .ipt-comn.ipt-srch::placeholder{
        color:#dcdcdc;
    }
    .gnb .srch-on-area .srch-area .ico.ico-srch{
        position:unset;
        top:unset;
        right:unset;
    }
    .gnb .srch-on-area .srch-on-bg{
        position:fixed;
        background-color:#000;
        opacity:.5;
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index:-1;
    }

    .lnb{
    }
        .lnb .modal-header,
        .lnb .modal-body{
            flex-flow:column;
            margin:0 20px;
            padding:0;
        }

        .lnb .modal-header{
            padding:5px 0 16px 0;
        }

        .lnb-header-area,
        .lnb-menu-area{
            width:100%;
        }
        .lnb-header-area{
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .lnb-header-area .btn-area .logout{
            width:190px;
        }
        .lnb-header-area .btn-close{
            color:#1b1b1b;
            opacity: 1;
            padding:0;
            width:16px;
            height:16px;
        }
        .lnb-menu-area ul{
            display:flex;
            justify-content: space-around;
            align-items: center;
            margin-top:20px;
        }
        .lnb-menu-area ul li{
            width:25%;
            text-align:center;
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .lnb-menu-area .btn{
            color:#000;
            font-size:10px;
            display:flex;
            flex-flow:column;
            align-items: center;
            justify-content: center;
            padding:0;
        }
        .lnb-menu-area .btn:hover,
        .lnb-menu-area .btn:active,
        .lnb-menu-area .btn:focus{
            color:#000;
        }
        .lnb-menu-area .btn .ico{
            width:24px;
            height:24px;
            margin-bottom:2px;
        }
        .lnb-list-area{
        }
            .lnb-list-loop .tit-area{
                padding:12px 9px 12px 6px;
                border-bottom:1px solid #e5e5e5;
                display:flex;
                justify-content: space-between;
                align-items: center;
            }
            .lnb-list-loop .tit-area .tit{
                font-size:17px;
                color:#242424;
                padding:0;
                margin:0;
                border:0;
                background:transparent;
            }
            .lnb-list-loop .tit-sub-area dt{
                padding:8px 16px;
                color:#434343;
                background-color:rgb(245,245,245);
                border:1px solid rgb(229,229,229);
                border-width:1px 0;
                margin-top:-1px;
                font-weight:normal;
            }
            .lnb-list-loop .tit-sub-area dd{
                padding:8px 26px;
                color:#434343;
                border-bottom:1px solid rgb(229,229,229);
                margin-bottom:0;
            }
    /* //gnb */

.container{
    padding:0 20px;
}

/* icon */
.ico{
    background:no-repeat center;
    background-size:contain;
    border:0;
    background-color:#e5e5e5;/* 구분용으로 추후 삭제 */
}
    .ico span{
        font-size:0;
    }

    .ico.ico-more{
        padding:0;
    }
    .ico.ico-more:before{
        content:'더보기';
        font-weight:300;
        font-size:13px;
        margin-right:5px;
    }

    .ico.ico-srch{
        width:17px;
        height:17px;
        background-image:url('');
    }

    .ico.ico-bag{
        width:19px;
        height:18px;
    }

    .ico.ico-arrow-prev{
        margin:0;
        width:15px;
        height:10px;
    }

/* button */
.btn{
    text-align:center;
    font-size:15px;
    color:#fff;
    padding:13px 0;
    border-radius:5px;
}

    .btn:hover,
    .btn:active,
    .btn:focus{
        color:#fff;
    }

    /* button color */
    .btn.pink{
        background-color:#ff5550;
    }
    .btn.white{
        border:1px solid #707070;
        color:#707070;
        border-radius:0;
    }
    .btn.white-gray{
        border:1px solid #e5e5e5;
        background-color:#fff;
        color:#1b1b1b;
        border-radius:0;
    }
    .btn.blue{
        background-color:#2196f3;
    }
    .btn.light-gray{
        background-color:#efefef;
        color:#1b1b1b;
    }
    .btn.txt{
        color:#000;
        padding:0;
    }

    /* button size */
    .btn.tiny{
        font-size:10px;
        padding:6px 28px;
    }
    .btn.small{
        font-size:13px;
        padding:4px 28px;
    }
    .btn.mid{
    }
    .btn.large{
    }
/* //button */

/* input */
.ipt-comn{
    font-size:12px;
    padding:13px 15px;
    border:1px solid #e5e5e5;
    color:#959595;
}
    .ipt-comn.ipt-srch{
        width:100%;
        height:30px;
        border-radius:12px;
    }
.ipt-chk{
}
    .ipt-chk-txt{
        color:#000;
        font-size:13px;
        margin-left:7px;
    }
/* //input */

.ipt-area{
    display:flex;
    flex-flow:column;
    background-color:#fff;
    padding:10px 0;
}
    .ipt-area .ipt-comn{
        margin-bottom:10px;
    }
/* //ipt-area */
.tbl-comn{
    margin-bottom:25px;
}
    .tbl-comn table{
        width:100%;
    }
    .tbl-comn th,
    .tbl-comn td{
        border:1px solid rgb(229,229,229);
        font-size:10px;
        padding:10px;
    }
    .tbl-comn tbody th{
        background-color:rgb(245,245,245);
        font-weight:normal;
        text-align:center;
    }
    .tbl-comn tbody th:first-child{
        border-left:0;
    }
    .tbl-comn tbody td:last-child{
        border-right:0;
    }
    .tbl-comn tbody td li{
        font-size:10px;
    }
/* //tbl-comn */

.chk-area{
    display:flex;
    align-items:center;
    margin-bottom:10px;
}
/* //chk-area */

.btn-area{
}
    .btn-area.normal{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom:30px;
    }
    .btn-area.normal .btn{
        width:calc(50% - 10px);
        min-width:150px;
        border-radius:5px;
        margin-right:10px;
    }
    .btn-area.normal .btn:last-child{
        margin-left:10px;
        margin-right:0;
    }
    .btn-area.normal .btn:first-child{
        margin-left:0;
    }
    .btn-area .btn-box{
        display:flex;
        flex-flow:column;
        margin-bottom:18px;
    }

    .btn-area .desc-btn-box{
        display:flex;
        align-items:center;
        justify-content:center;
        padding-bottom:37px;
    }

    .btn-area .desc-btn-box .btn.txt:before{
        content:'';
        display:inline-block;
        width:1px;
        height:10px;
        background:#b5b5b5;
        margin-left:-30px;
        margin-right:30px;
    }

    .btn-area .desc-btn-box .btn.txt:first-child:before{
        display:none;
    }
/* //btn-area */

.product-area{
    padding:16px 0 10px;
}
    .product-area .pr-tit-area{
        padding-bottom:14px;
        border-bottom:2px solid #0d0d0d;
        margin-bottom:12px;
    }
    .product-area .pr-tit-area .tit{
        font-size:19px;
    }
    .product-area .pr-tit-area .tit b{
        color:#ff5550;
        font-size:19px;
    }

.pr-list-box{
    display:flex;
}

.pr-list-area{
    display:flex;
    justify-content: space-between;
    flex-flow:wrap;
}
    .pr-list-loop{
        width:calc(50% - 10px);
        border:1px solid #e5e5e5;
        margin:10px 0;
        background-color:#fff;
        position:relative;
    }
    .pr-list-loop .img-area{
        width:100%;
        height:128px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:5%;
        box-sizing: border-box;
    }
    .pr-list-loop .pr-rank{
        position: absolute;
        top:0;
        left:6px;
        text-align:center;
        border-bottom:1px solid #ef5864;
        width:20px;
    }
    .pr-list-loop .pr-rank .num{
        font-size:15px;
        font-weight:600;
        color:#ef5864;
        z-index:2;
    }
    .pr-list-loop .desc-area{
        padding:6px 6px 6px 7px;
    }
    .pr-list-loop .desc-area .tit-area{
        margin-bottom:5px;
        min-height:38px;
    }
    .pr-list-loop .desc-area .tit-area .tit{
        font-size:13px;
        line-height:1;
        font-weight:normal;
        word-break: keep-all;
    }
    .pr-list-loop .price-area{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .pr-list-loop .price-area .price{
        font-size:15px;
        font-weight:600;
        color:#000;
    }
    .pr-list-loop .price-area .price:after{
        content:'원';
        color:#707070;
        font-size:10px;
    }
    .pr-list-loop .price-area .ico.ico-cart{
        width:24px;
        height:24px;
        border:1px solid #e5e5e5;
        background-color:#fff;
    }
    .pr-list-loop .pr-soldout{
        position:absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        width:100%;
        height:100%;
    }
    .pr-list-loop .pr-soldout-bg{
        position:absolute;
        top:0;
        left:0;
        background:#000;
        opacity:.5;
        z-index:3;
        width:100%;
        height:100%;        
    }
    .pr-list-loop .pr-soldout .txt-soldout{
        position:absolute;
        color:#fff;
        font-size:25px;
        font-weight:600;
        border:3px solid #fff;
        border-radius:5px;
        padding:6px 15px;
        opacity:1;
        z-index:4;
    }
    .pr-list-loop .pr-soldout .txt-soldout:after{
        display:block;
        border-top:1px solid #fff;
        content:'SOLD OUT';
        font-size:17px;
        font-weight:600;
        font-family:'Lato';
        padding:0 8px;
    }
/* //product area */

.tab-list-area ul{
    display:flex;
    flex-flow:wrap;
    text-align:center;
    align-items:center;
    margin-bottom:10px;
}
.tab-list-area li{
    width:calc(25% + 1px);
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #e5e5e5;
    color:#1b1b1b;
    margin-right:-1px;
    margin-bottom:-1px;
    font-size:10px;
    word-break: keep-all;
}
.tab-list-area .active{
    border:0;
    color:#fff;
}
/* //tab list area */

.main-pr-area{
    padding:16px 20px;
}
    .main-pr-area .tit-area{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:18px;
    }
    .main-pr-area .tit-area .tit{
        font-size:19px;
        color:#000;
        font-weight:600;
    }
    .main-pr-area .pr-list-area{
        width:calc(100% + 20px);
        overflow-x:auto;
        justify-content:flex-start;
    }
    .main-pr-area .pr-list-area .pr-list-box .pr-list-loop{
        width:150px;
        margin-bottom:0;
        margin-right:-1px;
    }

    .main-pr-area.best{
    }
    .main-pr-area.best .pr-list-loop .pr-rank{
        width:36px;
        height:40px;
        background-color:#ff5550;
        top:0;
        left:0;
    }
    .main-pr-area.best .pr-list-loop .pr-rank .num{
        color:#fff;
    }
    .main-pr-area.best .pr-list-loop .pr-rank .num:after{
        content:'BEST';
        font-size:6px;
        display:block;
        margin:0 auto;
        font-weight:normal;
    }

    .main-pr-area.recommend{
        background-color:#f0f3f8;
    }
/* //main-pr-area */

.category-area{
    padding:20px;
    padding-top:16px;
}
    .category-area .tit-area{
        padding:19px 0;
    }
    .category-area .tit-area .tit{
        text-align:center;
        font-size:19px;
    }
    .category-area .tit-area .tit b{
        font-size:19px;
        font-weight:600;
    }

.cate-tab{
    padding-bottom:20px;
}
    .cate-tab .tab-tit-area .accordion-button{
        background-color: transparent;
        padding:0;
        border:0;
    }
    .cate-tab .tab-tit-area{
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-top:2px solid #000;
        padding:11px 0;
    }
    .cate-tab .tab-tit-area .tit{
        font-size:17px;
    }
    .cate-tab .pr-list-loop .price-area .ico.ico-cart{
        border:0;
    }
    .cate-tab .btn-area{
        border:1px solid #e5e5e5;
        display:flex;
        justify-items: center;
        align-items: center;
    }
    .cate-tab .btn-area .ico.ico-more{
        background:#fff;
        padding:4px 0;
        width:100%;
    }

    .tab-list-area .active,
    .cate-tab.drug .tab-tit-area,
    .cate-tab.other .tab-tit-area{
        border-color:#ef5864;
    }
    .cate-tab.drug .tab-tit-area .tit,
    .cate-tab.other .tab-tit-area .tit{
        color:#ef5864;
    }
    .tab-list-area .active,
    .cate-tab.drug .tab-area .active,
    .cate-tab.other .tab-area .active,
    .cate-tab.drug .pr-list-loop .price-area .ico.ico-cart,
    .cate-tab.other .pr-list-loop .price-area .ico.ico-cart{
        background-color:#ef5864;
    }

    .cate-tab.non-drug .tab-tit-area{
        border-color:#69aa20;
    }
    .cate-tab.non-drug .tab-tit-area .tit{
        color:#69aa20;
    }
    .cate-tab.non-drug .tab-area .active,
    .cate-tab.non-drug .pr-list-loop .price-area .ico.ico-cart{
        background-color:#69aa20;
    }

    .cate-tab.health .tab-tit-area{
        border-color:#5868be;
    }
    .cate-tab.health .tab-tit-area .tit{
        color:#5858be;
    }
    .cate-tab.health .tab-area .active,
    .cate-tab.health .pr-list-loop .price-area .ico.ico-cart{
        background-color:#5868be;
    }
/* //cate-area */

/* modal, popup */
.pop-comn{
    /*width: 160px;
    height: 130px;
    margin: 37.5px 10px 27.5px;
    padding: 17px 0 0;
    */
    border-radius:10px;
    box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
  }
  .pop-comn .modal-body{
      display: flex;
      justify-content: center;
      flex-flow:column;
      padding:35px 1rem 40px;
      align-items: center;
  }
  .pop-comn .ico.ico-question{
      width:70px;
      height:70px;
      background-color:#2196f3;
      border-radius:10px;
      margin-bottom:20px;
  }
  .pop-comn .desc-area{
      font-size:17px;
      color:#1b1b1b;
      text-align:center;
      margin:0;
      padding:0;
  }
  .pop-comn .btn-area{
      display: flex;
      justify-content: space-around;
  }
  .pop-comn .btn-area .btn{
      border-radius:0;
      width:50%;
  }
  .pop-comn .btn-area .btn:first-child{
      border-radius:0 0 0 10px;
  }
  .pop-comn .btn-area .btn:last-child{
      border-radius:0 0 10px 0;
  }
/* //pop-comn */

footer{
    margin-top:10px;
    padding-bottom:27px;
}

    .cscenter-area{
        border-bottom:10px solid #eee;
        padding:17px 0;
        display:flex;
        justify-content:center;
    }
    /* //cscenter-area */

    .num-area{
        padding-left:62px;
        margin:0 auto;
    }
        .num-area .num{
            display:block;
            font-family:'Lato';
            font-size:25px;
            font-weight:900;
            line-height:1.14;
            letter-spacing:1px;
            color:#0d0d0d;
            margin-bottom:7px;
        }

        .num-area .num-desc{
            font-size:10px;
            color:#313131;
        }
    /* //num-area */

    .use-guide-area{
        border-bottom:1px solid #e5e5e5;
    }
        .use-guide-area dl{
            display: flex;
            justify-content: center;
        }
        .use-guide-area dl dd{
            padding:6px 0;
            width:50%;
            margin-bottom:0;
            text-align:center;
        }
        .use-guide-area .btn.txt{
            color:#707070;
        }
    /* //use-guide-area */

    .company-area{
        padding:17px 20px;
    }
    /* //company-area */

    .company-info-area{
    }
        .company-info-area dl dt{
            font-size:19px;
            color:#959595;
            font-weight:600;
            margin-bottom:10px;
        }

        .company-info-area dl dd{
            color:#707070;
            font-size:12px;
            margin-bottom:2px;
        }

        .company-info-area dl dd:last-child{
            margin-top:12px;
        }

    .copyright{
        margin-top:15px;
        color:#707070;
        font-size:12px;
    }
/* //footer */

/* margin, padding */
.pd-b15{padding-bottom:15px !important;}
/* //margin, padding */

/* //common */