<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>header</title>

        <!-- common css -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/common.css">

        <!-- media css -->
        <link rel="stylesheet" type="text/css" href="../css/media/media.common.css" />
    </head>
    <body>
        <header>
            <div class="header-area">
                <div class="logo-area">
                    <h1 class="logo">동화 e mall</h1>
                </div> <!--//logo-area -->
                <div class="ui-area">
                    <div class="srch-area">
                        <label for="">
                            <input type="text" class="ipt-comn ipt-srch">
                            <button type="button" class="ico ico-srch"><span>검색</span></button>
                        </label>
                    </div> <!--//srch-area -->
                    <div class="btn-area">
                        <button type="button" class="ico ico-bag"><span>장바구니</span></button>
                        <span class="cart-ea">2</span>
                    </div> <!--//btn-area -->
                </div> <!--//ui-area -->
            </div> <!--//header-area -->
            <div class="menu-area">
                <ul>
                    <li><button class="btn txt">베스트상품</button></li>
                    <li><button class="btn txt">추천상품</button></li>
                    <li><button class="btn txt">최근본상품</button></li>
                    <li><button class="btn txt">최근주문상품</button></li>
                </ul>
            </div> <!--//menu-area -->
            <div class="gnb">
                <ul>
                    <li><button type="button" class="btn"><span class="ico ico-home"></span>홈</button></li>
                    <li><button type="button" class="btn"><span class="ico ico-menu"></span>메뉴</button></li>
                    <li><button type="button" class="btn"><span class="ico ico-srch"></span>검색</button></li>
                    <li><button type="button" class="btn"><span class="ico ico-bag"></span>장바구니</button></li>
                    <li><button type="button" class="btn"><span class="ico ico-myinfo"></span>내정보</button></li>
                </ul>
            </div> <!--//gnb -->
        </header>

        <!-- script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>