<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>검색결과</title>

        <!-- common css -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./css/common.css">
        <link rel="stylesheet" type="text/css" href="../css/popup.common.css">

        <!-- media css -->
        <link rel="stylesheet" type="text/css" href="./css/media/media.common.css" />
    </head>
    <body>
        <header>
            <div class="header-area">
                <div class="logo-area">
                    <h1 class="logo">동화 e mall</h1>
                </div> <!--//logo-area -->
                <div class="ui-area">
                    <div class="srch-area">
                        <label for="">
                            <input type="text" class="ipt-comn ipt-srch">
                            <button type="button" class="ico ico-srch"><span>검색</span></button>
                        </label>
                    </div> <!--//srch-area -->
                    <div class="btn-area">
                        <button type="button" class="ico ico-bag"><span>장바구니</span></button>
                        <span class="cart-ea">2</span>
                    </div> <!--//btn-area -->
                </div> <!--//ui-area -->
            </div> <!--//header-area -->
            <div class="menu-area">
                <ul>
                    <li><button class="btn txt">베스트상품</button></li>
                    <li><button class="btn txt">추천상품</button></li>
                    <li><button class="btn txt">최근본상품</button></li>
                    <li><button class="btn txt">최근주문상품</button></li>
                </ul>
            </div> <!--//menu-area -->
            <div class="gnb">
                <ul>
                    <li><button type="button" class="btn"><span class="ico ico-home"></span>홈</button></li>
                    <li><button type="button" class="btn"><span class="ico ico-menu"></span>메뉴</button></li>
                    <li><button type="button" class="btn"><span class="ico ico-srch"></span>검색</button></li>
                    <li><button type="button" class="btn"><span class="ico ico-cart"></span>장바구니</button></li>
                    <li><button type="button" class="btn"><span class="ico ico-myinfo"></span>내정보</button></li>
                </ul>
            </div> <!--//gnb -->
        </header>

        <div class="container" style="padding:20px;">
            <button type="button" data-bs-toggle="modal" data-bs-target="#cartModal"><span>장바구니 담기</span></button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#findAddress"><span>주소찾기</span></button>

            <!-- 장바구니 추가 -->
            <div class="modal fade" id="cartModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content pop-comn pop-cart">
                        <div class="modal-body">
                            <div class="ico-question-bg">
                                <span class="ico ico-question"></span>
                            </div>
                            <p class="desc-area">장바구니에 추가되었습니다.<br />장바구니로 이동하시겠습니까?</p>
                        </div>
                        <div class="btn-area">
                            <button type="button" class="btn blue">확인</button>
                            <button type="button" class="btn light-gray" data-bs-dismiss="modal" aria-label="Close">취소</button>
                        </div>
                    </div> <!--//pop-comn -->
                </div> <!--//modal-dialog -->
            </div> <!--//cart modal -->
            <!--//장바구니 추가 -->
            
            <!-- 주소찾기 -->
            <div class="modal fade" id="findAddress" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered pop-comn pop-find-address">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="tit-area">
                                <h1 class="tit">주소찾기</h1>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> <!--//modal-header -->
                        <div class="modal-body">
                            <div class="ipt-area">
                                <input type="text" class="ipt-comn ipt-full" placeholder="우편번호 또는 동/읍/면 명칭을 입력하세요." />
                            </div> <!--//ipt-area -->
                            <div class="page-desc-area bg-gray">
                                <p>아래와 같은 조합으로 검색하세요</p>
                                <ol>
                                    <li><b>1.</b> -도로명 + 건물번호     <b>:   한강대로 416</b></li>
                                    <li><b>2. -지역명(동/리)</b> + 번지 <b>:   남대문로5가 541</b></li>
                                    <li><b>3.</b> -건물명, 아파트명      <b>:   반포자이아파트</b></li>
                                </ol>
                            </div> <!--//page-desc-area -->
                        </div> <!--//modal-body -->
                        <div class="modal-footer">
                            <div class="btn-area">
                                <button type="button" class="btn pink small" data-bs-dismiss="modal" aria-label="Close">닫기</button>
                            </div>
                        </div>
                    </div> <!--//modal-content -->
                </div>
            </div>
            <!-- //주소찾기 -->
        </div> <!--//container -->

        <footer>
            <div class="cscenter-area">
                <div class="num-area">
                    <span class="num">080-023-1897</span>
                    <span class="num-desc">평일 - 09:00~18:00  토,일 , 공휴일 - 휴뮤</span>
                </div>
            </div> <!--//cscenter-area -->
            <div class="use-guide-area">
                <dl>
                    <dd><button class="btn txt small">개인정보 취급방침</button></dd>
                    <dd><button class="btn txt small">이용약관</button></dd>
                </dl>
            </div> <!--//use-guide-area -->
            <div class="company-area">
                <div class="company-info-area">
                    <dl>
                        <dt>동화약품(주)</dt>
                        <dd>주소 : 04522 서울특별시 중구 남대문로9길 24 패스트파이브 타워 6~8층</dd>
                        <dd>전화번호 : 080-023-1897</dd>
                        <dd>통신판매번호 : 2004-서울중구-02098</dd>
                        <dd>건강기능식품번호 : 제2009-0433240호</dd>
                        <dd>사업자 등록번호 : [211-87-04515]</dd>
                        <dd><button class="btn white small">사업자정보확인</button></dd>
                    </dl>
                </div> <!--//company-info-area -->
                <div class="copyright">COPYRIGHT(C) DONG WHA PHARM. CO., LTD. ALL RIGHTS RESERVED.</div> <!--//copyright -->
            </div> <!--//company-area -->
        </footer>

        <!-- script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="../js/common.js"></script>
        <!-- //script -->
        
    </body>
</html>