<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>로그인</title>

        <!-- common css -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" />
        <link rel="stylesheet" type="text/css" href="../css/common.css">

        <!-- join,login css -->
        <link rel="stylesheet" type="text/css" href="../css/join/join.common.css" />
        <link rel="stylesheet" type="text/css" href="../css/join/pc.login.common.css" />
    </head>
    <body class="pc-wrap type-wide">
        <div class="container">
            <div class="login-wrap">
                <div class="header-area">
                    <p class="header-desc-area">123년간 지속되어 온 동화약품
                    고객의 신뢰와 함께 성장해 온 글로벌 제약기업</p>
                    <div class="footer-area">
                        <div class="use-guide-area">
                            <dl>
                                <dd><button class="btn txt small">개인정보 취급방침</button></dd>
                                <dd><button class="btn txt small">이용약관</button></dd>
                            </dl>
                        </div> <!--//use-guide-area -->
                        <div class="company-area">
                            <div class="company-info-area">
                                <dl>
                                    <dt>동화약품(주)</dt>
                                    <dd>주소 : 04522 서울특별시 중구 남대문로9길 24 패스트파이브 타워 6~8층</dd>
                                    <dd class="br"></dd>
                                    <dd>대표이사 : 박기환</dd>
                                    <dd>전화번호 : 080-023-1897</dd>
                                    <dd>통신판매번호 : 2004-서울중구-02098</dd>
                                    <dd class="br"></dd>
                                    <dd>건강기능식품번호 : 제2009-0433240호</dd>
                                    <dd>사업자 등록번호 : [211-87-04515]</dd>
                                    <dd><button class="btn gray tiny">사업자정보확인<span class="arrow">▶</span></button></dd>
                                </dl>
                            </div> <!--//company-info-area -->
                            <div class="copyright">COPYRIGHT(C) DONG WHA PHARM. CO., LTD. ALL RIGHTS RESERVED.</div> <!--//copyright -->
                        </div> <!--//company-area -->
                    </div>
                </div> <!--//header-area -->
                <div class="login-area">
                    <div class="logo-area">
                        <h1 class="logo">동화 e mall</h1>
                        <span>로그인</span>
                    </div>
                    <div class="ipt-area">
                        <input type="text" placeholder="아이디" class="ipt-comn ipt-id">
                        <input type="password" placeholder="비밀번호" class="ipt-comn ipt-pw">
                    </div>
                    <div class="btn-area">
                        <div class="btn-box">
                            <button class="btn pink">로그인</button>
                        </div>
                        <div class="chk-area">
                            <input type="checkbox" class="ipt-chk"><span class="ipt-chk-txt">아이디 저장</span>
                        </div>
                        <div class="desc-btn-box">
                            <button class="btn">회원가입</button>
                            <button class="btn">아이디/비밀번호 찾기</button>
                        </div>
                    </div>
                    <div class="cscenter-area">
                        <div class="num-area">
                            <span class="num">080-023-1897</span>
                            <span class="num-desc">평일 - 09:00~18:00  토,일 , 공휴일 - 휴뮤</span>
                        </div>
                    </div> <!--//cscenter-area -->
                </div> <!--//login-area -->
            </div> <!--//login-wrap -->
        </div> <!--//container -->

        <!-- script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="../js/common.js"></script>
        <!-- //script -->
    
</body></html>