@charset "UTF-8";

/* join, login common */
header{
    margin-bottom:0;
}
.logo-area{
    padding:48px 0 40px;
    text-align:center;
    margin:0 auto;
}
    .logo{
        width:170px;
        height:42px;
        margin:0 auto;
    }