@charset "UTF-8";

/* join, login common */
header{
    margin-bottom:0;
}

header.join .logo-area{
    padding:10px 0;
}
header.join .logo-area .logo{
    width:120px;
}

.logo-area{
    padding:48px 0 40px;
    text-align:center;
    margin:0 auto;
}
    .logo{
        width:170px;
        height:42px;
        margin:0 auto;
    }

.tit-area.center{
    padding:28px 20px;
    margin:0 -20px;
    box-sizing: border-box;
}
.tit-area.center .tit{
    margin-bottom:15px;
    font-size:25px;
    font-weight:600;
    text-align:center;
}

.login-area{
}
    .login-area .ipt-area .ipt-comn{
        width:100%;
        margin-bottom:5px;
    }

.join-tab-comn{
    border-bottom:10px solid #eee;
    margin:0 -20px;
    border-top:10px solid #eee;
}
    .join-tab-comn ol{
        display:flex;
        align-items: center;
        justify-content: center;
        width:100%;
        background:#eee;
    }
    .join-tab-comn ol li{
        width:calc(33.33% + 15px);
        background:url(../../images/join/bg-join-tab.png) no-repeat right center #fff;
        border:1px solid #e5e5e5;
        border-width:1px 0;
        text-align:center;
        padding:24px 0;
        margin-right:-15px;
        font-size:15px;
    }
    .join-tab-comn ol li.active{
        background:url(../../images/join/bg-join-tab-active.png) no-repeat right center rgb(92,82,208);
        color:#fff;
        z-index:3 !important;
    }
    .join-tab-comn ol li:nth-child(1){
        z-index:2;
    }
    .join-tab-comn ol li:nth-child(2){
        z-index:1;
        position:relative;
    }
    .join-tab-comn ol li:nth-child(2).active:before{
        content:'';
        width:22px;
        height:70px;
        background:url(../../images/join/bg-join-tab-active-left.png) no-repeat left center rgb(92,82,208);
        margin-left:-5px;
        position:absolute;
        left:0;
        top:0;
    }
    .join-tab-comn ol li:last-child{
        margin-right:0;
        background-image:none;
    }
    .join-tab-comn ol li:last-child.active{
        background:url(../../images/join/bg-join-tab-active-left.png) no-repeat left center rgb(92,82,208);
        margin-left:-5px;
    }
    
    .join-tab-comn.depth2{
        background:#eee;
        padding:0 20px;
        display:flex;
        justify-content: space-between;
    }
    .join-tab-comn.depth2 .btn{
        width:50%;
        margin-right:0;
        border-radius:0;
    }

.join-agree-area{
    padding:15px 0 1px 0;
}
    .join-agree-area ol{
        padding-bottom:15px;
    }
    .join-agree-area ol li{
        margin-bottom:15px;
    }
    .join-agree-area .tit{
        font-size:10px;
        margin-bottom:5px;
    }
    .join-agree-area .desc{
        white-space: pre-line;
        font-size:10px;
        margin-bottom:5px;
    }
    .join-agree-area .desc.typeB{
        margin-left:10px;
    }
    .join-agree-area .tbl-comn li:before{
        content:'-';
        margin-right:5px;
    }

.join-agree-list-area{
        padding:25px 0 30px 0;
        box-sizing:border-box;
    }
    .join-agree-list-area .tit-area{
        margin-bottom:20px;
    }
    .join-agree-list-area .tit-area .tit{
        font-size:25px;
        font-weight:600;
    }
    .join-agree-list-area .desc-area{
        font-size:10px;
        margin-top:-10px;
        margin-bottom:20px;
        white-space:pre-line;
    }
    .join-agree-list-area .list-area{
        display: flex;
        align-items: center;
        flex-flow:column;
    }
    .join-agree-list-area .list-area dl,
    .join-agree-list-area .list-area ul,
    .join-agree-list-area .list-area ol{
        width:100%;
    }
    .join-agree-list-area .list-area ol li{
        list-style:inside;
    }
    .join-agree-list-area .list-area .list-loop .tit b{
        font-weight:normal;
        font-size:15px;
    }
    .join-agree-list-area .list-area .list-tit,
    .join-agree-list-area .list-area .list-loop.border{
        border:1px solid #e5e5e5;
    }
    .join-agree-list-area .list-area .list-tit,
    .join-agree-list-area .list-area .list-loop{
        margin-bottom:10px;
        display: flex;
        align-items: center;
        flex-flow:row wrap;
        text-align:center;
        justify-content: space-between;
    }
    .join-agree-list-area .list-area .list-loop.border{
        padding:13px 10px;
        border:1px solid #e5e5e5;
    }
    .join-agree-list-area .list-area .list-loop.border .tit{
        font-size:15px;
        font-weight:600;
    }
    .join-agree-list-area .list-area .ipt-comn{
        padding:16px 10px;
        border:0;
    }
    .join-agree-list-area .list-area .ipt-chk-txt{
        font-size:15px;
        font-weight:normal;
    }
    .join-agree-list-area .list-area .list-tit .ipt-comn{
        text-align:center;
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .join-agree-list-area .list-area .list-tit .ipt-comn .ipt-chk-txt{
        width:100%;
        margin-left:-15px;
        text-align: center;
        display: inline-block;
    }

.join-desc-area{
    border:1px solid #e5e5e5;
    padding:20px 12px 15px 12px;
    display:flex;
    flex-flow: column;
}
    .join-desc-area .desc-tit-img.complete{
        border:2px solid #ff5550;
        background:url(../../images/join/img-join-complete.png) no-repeat center bottom #eee;
        background-size:85%;
        width:120px;
        height:120px;
        border-radius:50%;
        margin:0 auto;
    }
    .join-desc-area .desc-tit{
        font-size:20px;
        font-weight:600;
        text-align:center;
        margin:24px 0 17px;
    }
    .join-desc-area .desc-area{
        font-size:13px;
        word-break: keep-all;
        margin-bottom:0;
    }
    .join-desc-area .desc-area b{
        color:#ff5550;
        font-weight:normal;
    }
    .join-desc-area .desc-area b.bold{
        font-size:15px;
        font-weight:600;
    }

.page-desc-area{
    padding-bottom:8px;
}
    .page-desc-area p{
        padding:0;
        margin:0;
    }
    .page-desc-area p b{
        color:#ff5550;
    }
.page-desc-area.txt-right{
    text-align:right;
}